<div class="container gallery">
  <div class="row align-items-center">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="./assets/gallery/IMG_1201.JPG" alt="Random first slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/gallery/IMG_1208.JPG" alt="Random second slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/gallery/IMG_1594.JPG" alt="Random third slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/gallery/IMG_1653.JPG" alt="Random third slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/gallery/IMG_1792.JPG" alt="Random third slide">
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/gallery/IMG_1793.JPG" alt="Random third slide">
      </ng-template>
    </ngb-carousel>
  </div>
</div>
