<div class="container about-container">
  <div class="row">
    <div class="col" style="height:1000px;">
      <h1>О проекте</h1>
      <h3>Предпосылки</h3>
      <p>Время идет, технологии развиваются. Предыдущий мой проект разрабатывался на свежей, в то время, версии Yii1 с вкраплениями
        ExtJs на фронтенде. Начинать на такой связке что-то новое в 2018 году конечно не стоит.</p>
      <p>Поэтому, после некоторых раздумий, было принято решение изучать Angular, как основу для фронтенда.</p>
      <p>Изучение теоретических материалов - это здорово и правильно. Умные книжки, курсы Udemy, видеоблоги и т.п.
        Но пока на практике не пощупаешь, что, да как, мало что в голове остается. Было принято решение оживить свой домен mikhailichenko.su в качестве учебного проекта.</p>
      <h3>Реализация</h3>
      <p>Итак, по замыслу, имеем клиентскую часть в виде SPA приложения Angular, серверную часть в виде API-сервера для
        предоставления данных клиентской части и админскую часть в виде классического Yii2 приложения для управления всей системой в целом.</p>
      <p>Для старта были использованы следующие компоненты:</p>
      <ul>
        <li>Angular CLI</li>
        <li>Yii 2.0 Advanced Application Template</li>
        <li>MySql</li>
      </ul>
      <p>Первый вопрос, который приходится решать в более-менее серьезных проектах, - это вопрос авторизации и аутентификации. Было принято решение использовать технологию JWT с двуми токенами: основной токен и refresh-токен. Проверка логина и пароля пользователя в данном проекте осуществляется штатным способом фреймворка Yii 2. При разработке корпоративного приложения дополнительно пользователь будет проверяться на соответствие с корпоративным каталогом LDAP</p>
      <p>Отдельные страницы, как правило, оформлены в виде модулей, подгружаемых по мере необходимости (т.н. lazyload).</p>
      <p>Разработка ведется в IDE PhpStorm. Для локальной разработки была развернута среда Vagrant. Исходные коды хранятся на GitHub. Для управления процессом разработки и выпуска релизов используется методология "git flow".</p>
      <p>Деплой на хостинг осуществляется c помощью npm-пакета ftp-deploy</p>
      <h3>TODO</h3>
      <ul>
        <li>исправить огрехи в адаптивности разметки сайта </li>
        <li>динамическое меню, управляемое из админской части</li>
        <li>управление правами пользователей (RBAC)</li>
        <li>модуль графиков показаний температурных датчиков в загородном доме</li>
        <li>модуль для показа изображений камер наблюдения загородного дома</li>
        <li>модуль блогов с формированием их в админской части и публикацией на сайте</li>
      </ul>

    </div>
  </div>
</div>
