<div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="signInWithFB()"
    *ngIf="loggedIn===false">
      FB login
  </button>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="signOut()"
    *ngIf="loggedIn===true">
      FB logout
  </button>
  <div *ngIf="loggedIn===true" class="card" style="width: 18rem;">
    <img [src]="user.photoUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h4>{{ user }}</h4>
      <p>{{ user.email }}</p>
      <p>{{ user.firstName }}</p>
      <p>{{ user.lastName }}</p>
    </div>
  </div>
  <div *ngIf="loggedIn===true">

    <img [src]="user.photoUrl" alt="My Facebook Photo">
  </div>
</div>
